.header {
    padding: 1em;
    background: rgb(46, 30, 54);
    display: flex;
}

.brand {
    font-size:40px;
    color: white;
    margin-top: 5px;
    margin-left: 40px;
}

.nav {
    align-items: center;
    justify-content: center;
    margin-left: 160px;
}

.header-trending {
    color: white;
    background-color: rgb(91, 115, 221);
    border: 2px solid rgb(200, 182, 182);
    margin-left: 15px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}

.header-random {
    color: white;
    background-color: rgb(91, 115, 221);
    border: 2px solid rgb(200, 182, 182);
    margin-left: 15px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}