.header {
    padding: 1em;
    background: rgb(46, 30, 54);
    display: flex;
}

.brand {
    font-size:40px;
    color: white;
    margin-top: 5px;
    margin-left: 40px;
}

.nav {
    align-items: center;
    justify-content: center;
    margin-left: 160px;
}

.header-trending {
    color: white;
    background: linear-gradient(103deg, #6157FF, #7067ff, #6157FF);
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}

.header-random {
    color: white;
    background: linear-gradient(103deg, #6157FF, #7067ff, #6157FF);
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}